
<div class="prior-loans">
    <div class="row" ng-hide="PriorLoansVM.showPriorLoans || PriorLoansVM.priorLoans.length == 0">
            <a href="#" ng-click = "PriorLoansVM.showPriorLoans = true" class="loan-icon">
                {{PriorLoansVM.priorLoans.length}} Prior Loans
            </a>
    </div>
    <div class="divider" ng-show="PriorLoansVM.showPriorLoans">
        <span class="divider-text">PRIOR LOANS</span>
    </div>
    <div class="row loans-section panel-secondary" id="prior_{{item.loan_number}}" ng-repeat="item in PriorLoansVM.priorLoans" ng-show="PriorLoansVM.showPriorLoans">
        <div class="small-12 columns loan-title">
            <div class="description">
                <h2>Your {{item.amount_borrowed|currency:"$":0}} {{item.loan_description}} loan</h2>
            </div>
            <div class="loan-info">
                <h6>Loan #{{item.loan_number}}</h6>
                <h6 ng-if="item.is_paid_off" class="green">PAID OFF {{item.closed_date|date:'MM/dd/yyyy'}}</h6>
                <h6 ng-if="!item.is_paid_off && item.loan_status !== 'CLOSED'" class="red">{{item.loan_status}} {{item.status_change_date|date:'MM/dd/yyyy'}}</h6>
            </div>
        </div>

        <div class="small-12 columns loan-details">
            <div class="items">

                <div class="item">
                    <div class="key">Total Paid<span class="show-for-small-only">:</span></div>
                    <div class="value">{{item.total_amount_paid|formatCurrency}}</div>
                </div>

                <hr width="1" size="30" class="show-for-medium" ng-if="item.loan_status === 'CLOSED'">

                <div class="item" ng-if="item.loan_status === 'CLOSED'">
                    <div class="key">Paid Off Time<span class="show-for-small-only">:</span></div>
                    <div class="value">{{item.paid_off_time_in_months}} Months</div>
                </div>

                <hr width="1" size="30" class="show-for-medium">

                <div class="item">
                    <div class="key">Total Interest<span class="show-for-small-only">:</span></div>
                    <div class="value">{{item.total_interest_paid|formatCurrency}}</div>
                </div>

                <hr width="1" size="30" class="show-for-medium">

                <div class="item">
                    <div class="key">Rate<span class="show-for-small-only">:</span></div>
                    <div class="value">{{item.borrower_rate}}%</div>
                </div>

                <hr width="1" size="30" class="show-for-medium" />

                <div class="item">
                    <div class="key">Loan Term<span class="show-for-small-only">:</span></div>
                    <div class="value">{{item.term}} Months</div>
                </div>

                <hr width="1" size="30" class="show-for-medium" />

                <div class="item">
                    <div class="key">Originated<span class="show-for-small-only">:</span></div>
                    <div class="value">{{item.origination_date|date:'MM/dd/yyyy'}}</div>
                </div>
            </div>
        </div>
        <div>
            <prosper-feature-flagged name="paymentDetails" variant="new">
                <pr-payment-details></pr-payment-details>
            </prosper-feature-flagged>
        </div>
    </div>
</div>
