<div class="small-12 columns  loan-failed-confirmation" ng-show="showFailedPaymentConfirmation" ng-class="{'loan-fail-wrapper': addFailClass}">
        <div class="row text-left">
            <div class="small-12 columns loan-confirmation-rows-wrapper">
                    <div class="row">
                        <div class="small-10 columns text-left">
                        <h3>Unable to process your payment</h3>
                        </div>
                        <div class="small-11 columns">
                        <p class="text-left">Please try again later or <a class='contactUsLink' href="/help/support.aspx" target="_self">contact us.</a></p>
                        </div>
                    </div>

                <div class="row">
                    <div class="small-12 columns confirm-payment-from confirm-payment-info-wrapper">
                        <h6>From account</h6>
                        <h4>{{makePaymentScheduledAccount.wholeBankInfo.account_id | formatBankAccountName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12  columns confirm-payment-date confirm-payment-info-wrapper">
                        <h6>Scheduled payment date</h6>
                        <h4>{{makePaymentScheduledDate | formatDate1}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns confirm-payment-amount confirm-payment-info-wrapper">
                        <h6 class="strong">Payment amount</h6>
                        <h4 class="strong">{{makePaymentScheduledAmount | formatCurrency}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 small-centered text-center columns confirm-payment-action">
                        <button class="gray red-light" ng-disabled="paymentRequestInProgress" ng-click="$parent.backToLoan();$parent.addFailClass=false;">Back to your loan</button>
                    </div>
                </div>
            </div>
        </div>
</div>