<div class="small-12 columns loan-success-confirmation" ng-show="showSuccessPaymentConfirmation" ng-class="{'loan-confirm-wrapper': addConfirmClass}">
        <div class="row text-left">
            <div class="small-12 columns loan-confirmation-rows-wrapper">
                    <div class="row text-left">
                        <div class="small-12 columns">
                        <h3>You have scheduled a payment</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns confirm-payment-info-wrapper">
                        <h6>From account</h6>
                        <h4>{{makePaymentScheduledAccount.wholeBankInfo.account_id | formatBankAccountName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns confirm-payment-info-wrapper">
                        <h6>Scheduled payment date</h6>
                        <h4>{{makePaymentScheduledDate | formatDate1}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns confirm-payment-info-wrapper">
                        <h6 class="strong">Payment amount</h6>
                        <h4 class="strong">{{makePaymentScheduledAmount | formatCurrency}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 small-centered text-center columns confirm-payment-action">
                        <button class="secondary gray green-light" ng-disabled="paymentRequestInProgress" ng-click="$parent.backToLoan();$parent.addConfirmClass=false;">Back to your loan</button>
                    </div>
                </div>
            </div>
        </div>
</div>