<div class="content">
    <h2 class="sectionHeader text-center">Important Notice</h2>
    <h4 class="sectionSubtext text-center">We've updated our payment policy:</h4>

    <section>
        <h5 class="header">Self-serve AutoPay</h5>
        <p class="subtext">Set recurring, worry-free payments directly from your account.</p>
    </section>
    <section >
        <h5 class="header">Additional payments</h5>
        <p class="subtext">Your scheduled, automatic payments are set--that’s the beauty of AutoPay.&nbsp;<span class="bold italic">Additional payments will <span class="underline">not</span> reduce your monthly bill. </span>Instead, they're applied to your total loan balance. If AutoPay is off, payments will continue to first be applied to any monthly payment that is due.</p>
    </section>
    <section>
        <h5 class="header">Earlier payment reminder</h5>
        <p class="subtext">We'll send your monthly payment reminder 10 days before each payment is due.</p>
    </section>

    <img class="closeIcon" ng-click="userReadThePolicyUpdate = true" ng-src="{{railsVariables.closeIcon}}" />
    <button class="show-for-small-only secondary white small" ng-click="userReadThePolicyUpdate = true">OK</button>

</div>
<div class="overlay">

</div>

