<div class="content-area payment-grid">
    <div class="row">
        <div class="small-12 columns">
            <div class="container">
                <a href="#" ng-show="PaymentDetailsGridVM.results" class="back-payment" ng-click="PaymentDetailsGridVM.back()">Back</a>
            </div>
            <div class="row grid-title-bar">
                <div class="small-12 columns">
                    <div class="float-left grid-title-loan"  ng-show="PaymentDetailsGridVM.results">
                        Your {{PaymentDetailsGridVM.loan_amount}}
                        {{PaymentDetailsGridVM.loan_description}}
                    </div>
                    <div class="float-right icon-row" ng-show="PaymentDetailsGridVM.results">
                        <a href="#" ng-click="showTableView=true;showGridView=false" class="float-right table-icon">
                            <img ng-show="!showGridView" ng-src="{{railsVariables.tablePinkIcon}}"/>
                            <img ng-show="showGridView" ng-src="{{railsVariables.tableGrayIcon}}"/>
                        </a>
                        <a href="#" ng-click="showGridView=true;showTableView=false" class="float-left card-icon">
                            <img ng-show="!showTableView" ng-src="{{railsVariables.cardPinkIcon}}"/>
                            <img ng-show="showTableView" ng-src="{{railsVariables.cardGrayIcon}}"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <div class="text-center size-payment" ng-show="PaymentDetailsGridVM.results">{{PaymentDetailsGridVM.totalCount}} Payments</div>
                    <div infinite-scroll='PaymentDetailsGridVM.loadMore()' infinite-scroll-disabled="PaymentDetailsGridVM.busy" infinite-scroll-distance='3'>
                        <table  class="cardView small-12 columns" ng-show="showGridView" ng-hide="showTableView" ng-repeat="item in PaymentDetailsGridVM.results ">
                            <tr>
                                <th>Date</th>
                                <td class="float-right" ng-if="item.effective_date">{{item.effective_date |date:'MM/dd/yyyy'}}</td>
                                <td class="float-right">{{item.payment_effective_date |date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <td class="float-right" ng-if="item.payment_draft_amount ">{{item.payment_draft_amount  |formatCurrency}}</td>
                                <td class="float-right" ng-class="(item.status === 'Refund') ? 'refund-cls' :''">{{item.total_paid |formatCurrency}}</td>
                            </tr>
                            <tr>
                                <th>Principal</th>
                                <td class="float-right" ng-if="item.payment_draft_amount ">N/A</td>
                                <td class="float-right" ng-if="(item.status !== 'Failed' && !item.payment_draft_amount)">{{item.principal > 0 ? (item.principal|formatCurrency) : '-'}}</td>
                                <td class="float-right" ng-if="(item.status === 'Failed')">{{item.principal|formatCurrency}}</td>
                            </tr>
                            <tr>
                                <th>Interest</th>
                                <td class="float-right" ng-if="item.payment_draft_amount ">N/A</td>
                                <td class="float-right" ng-if="(item.status !== 'Failed' && !item.payment_draft_amount)">{{item.interest > 0 ? (item.interest|formatCurrency) : '-'}}</td>
                                <td class="float-right" ng-if="(item.status === 'Failed')">{{item.interest|formatCurrency}}</td>
                            </tr>

                            <tr ng-if="(item.late_fee)">
                                <th>Fees</th>
                                <td class="float-right">{{(item.late_fee |formatCurrency)}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td class="float-right cancel failed-cls" ng-if="(item.status === 'Failed' || item.status === 'Cancelled')">{{item.status}}</td>
                                <td class="float-right refund-cls" ng-if="item.status === 'Refund'">{{item.status}}</td>
                                <td class="float-right" ng-if="(item.status === 'Success' || item.status === 'Unknown' || item.status === 'Scheduled')">{{item.status === 'Unknown' ? '-' :item.status}}</td>
                            </tr>
                            <tr ng-if="(item.status === 'Scheduled' && !item.pending)">
                                <td colspan="2" align="center" class="failed-cls" ng-click="PaymentDetailsGridVM.welcomeModal(item.payment_servicing_id,item.payment_draft_amount,item.effective_date)">Cancel Payment</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
            <table class="tableView small-12 columns" ng-show="showTableView"  ng-hide="showGridView" summary="">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
                <tr id="pay_{{item.payment_servicing_id}}" ng-repeat="item in PaymentDetailsGridVM.scheduledPayment">
                    <td>{{item.effective_date |date:'MM/dd/yyyy'}}</td>
                    <td>{{item.payment_draft_amount  |formatCurrency}}</td>
                    <td ng-show="(item.status === 'Cancelled'|| item.status === 'Failed')" class="failed-cls">{{item.status=== 'Unknown' ? '-' :item.status}}</td>
                    <td ng-show="(item.status === 'Scheduled' && !data.pending)" class="closeIcon" ng-click="PaymentDetailsGridVM.welcomeModal(item.payment_servicing_id,item.payment_draft_amount,item.effective_date)">{{item.status=== 'Unknown' ? '-' :item.status}}</td>
                </tr>
                <tr ng-repeat="payment in PaymentDetailsGridVM.paymentHistory">
                    <td>{{payment.payment_effective_date |date:'MM/dd/yyyy'}}</td>
                    <td ng-class="(payment.status === 'Refund') ? 'refund-cls' :''">{{payment.total_paid |formatCurrency}}<span ng-if="(payment.late_fee)">{{' w/ '+(payment.late_fee |formatCurrency)+' fee'}}</span></td>
                    <td ng-if="payment.status === 'Failed'" class="failed-cls">{{payment.status}}</td>
                    <td ng-if="(payment.status === 'Refund')" class="refund-cls">{{payment.status}}</td>
                    <td ng-if="(payment.status === 'Success' || payment.status === 'Unknown')">{{payment.status === 'Unknown' ? '-' :payment.status}}</td>
                </tr>
            </table>
            </div>

        </div>
        <div class="small-12 columns bottom-links">
        <a href="#" class="float-left back-payment" ng-click="PaymentDetailsGridVM.back()"  ng-show="PaymentDetailsGridVM.results">Back</a>
        <span class="payment-total"  ng-show="PaymentDetailsGridVM.results">{{PaymentDetailsGridVM.totalCount}} Payments</span>
        </div>
    </div>
</div>
