<div class="row panel-primary system-notification {{notificationType}}" ng-if="showSystemNotification === true">
    <div class="small-12 columns">
        <div class="row hide-for-medium">
            <div class="small-12 columns panel-header notification-bar">
                <div class="notification-icon"></div>
                <div class="notification-title"><strong class="primary">{{notificationTitle}}</strong></div>
            </div>
        </div>
        <div id="system-notification-content-bar" class="row panel-content notification-content-bar">
            <div class="small-12 columns hide-for-medium">
                <div class="row add-padding-top-bottom-0">
                    <div class="small-12 columns notification-content-message">
                        <p ng-bind-html="notificationContent"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns clear-right-padding">
                        <button class='secondary orange' ng-click="notificationAction()"  ng-hide="successMessage === true">{{buttonText}}</button>
                        <strong class="successText" ng-class='{animatedEllipsis : (loading === true)}' ng-show="successMessage == true">{{successMessageText}}</strong>
                    </div>
                </div>
            </div>
            <div class="small-12 columns show-for-medium clear-left-right-padding">
                <div class="notification-icon-large">
                    <img class='action-required-icon' ng-src="{{railsVariables.infoIcon}}" alt="Action" />
                </div>
                <div class="notification-content-large">
                    <div class="notification-title-large"><h4 class="secondary strong warning">{{notificationTitle}}</h4></div>
                    <p ng-bind-html="notificationContent"></p>
                    <div class="notification-button-set">
                        <button class='secondary orange' ng-click="notificationAction()" ng-hide="successMessage === true">{{buttonText}}</button>
                        <strong class="successText" ng-class='{animatedEllipsis : (loading === true)}' ng-show="successMessage == true">{{successMessageText}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
