<div class="row drafts-section panel-secondary" ng-if="PreRegWidgetVM.showWidget">
    <div class="small-12 columns panel-content">
        <div class="row">
            <div class="small-12 medium-7 columns" >
                <div class="row">
                    <div class="small-12 columns draft-listing-title">
                        <h3>Give your finances a fresh start</h3>
                    </div>
                    <div class="small-12 columns ">
                        <p class="draft-listing-description">Pay down expenses with fixed, low-rate monthly payments through Prosper.</p>
                        <button class="primary show-for-small-only" ng-click="applyNow()" data-q="applyNowBtn1">Apply now</button>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-5 show-for-medium columns" >
                <div class="row">
                    <div class="small-12 columns">
                        <button class="primary float-right" ng-click="applyNow()" data-q="applyNowBtn2">Apply now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
