<pr-notification ng-if='ActiveListingVM.showNoDocNeeded === true' type="ActiveListingVM.notificationDocType" heading="ActiveListingVM.notificationDocHeading" subtext="" close=""></pr-notification>

<pr-notification ng-if='ActiveListingVM.showNotification === true' type="ActiveListingVM.notificationType" heading="ActiveListingVM.notificationHeading" subtext="ActiveListingVM.notificationSubtext" close="ActiveListingVM.notificationShowClose"></pr-notification>

<div class="row panel-secondary listings">
    <div class="small-12 columns listings-section show-for-small-only">
        <div class="row">
            <div class="small-12 columns">
                <h3 class="listing-title">Your {{::ActiveListingVM.info.loan_amount | currency:"$":0}} {{::ActiveListingVM.info.title | lowercase}} loan request</h3>
            </div>
        </div>

        <div class="row" ng-show="ActiveListingVM.info.status !== 'WITHDRAWN' && ActiveListingVM.info.status !== 'CANCELLED'  && ActiveListingVM.info.status !== 'EXPIRED'">
            <div class="small-12 columns listings-status-container make-table">
                <div class="listing-funded-status text-left make-table-cell">
                    <div class="listing-funded-status-widget-wrapper">
                        <div class="listingItemFundedStatusBar">
                            <span class="loading"  ng-style="{ 'width' : ActiveListingVM.loaderWidth }"></span>
                        </div>
                    </div>
                </div>
                <div class="funded-text make-table-cell">
                    <h3 class="listing-funded-status-text">{{::ActiveListingVM.info.amount_funded_percent}}%</h3>
                </div>

            </div>
        </div>

        <div class="row" ng-show="ActiveListingVM.info.status === 'WITHDRAWN' || ActiveListingVM.info.status === 'CANCELLED' || ActiveListingVM.info.status === 'EXPIRED'">
            <div class="small-12 columns listingItemStatusBar" ng-show="ActiveListingVM.info.status === 'EXPIRED' || ActiveListingVM.info.status === 'WITHDRAWN' || ActiveListingVM.info.status === 'CANCELLED'">
                <p class="listingsItemStatus" ng-show="ActiveListingVM.info.status === 'CANCELLED'">CANCELLED</p>
                <p class="listingsItemStatus" ng-show="ActiveListingVM.info.status === 'WITHDRAWN'">WITHDRAWN</p>
                <p class="listingsItemStatus" ng-show="ActiveListingVM.info.status === 'EXPIRED'">EXPIRED</p>

            </div>
        </div>
        <div class="row listing-withdraw-section" ng-show="ActiveListingVM.info.status !== 'WITHDRAWN' && ActiveListingVM.info.status !== 'CANCELLED' && ActiveListingVM.info.status !== 'EXPIRED'">
            <div class="small-12 columns make-table">
                <div class="float-left make-table-cell"><h6>funded</h6></div>
                <div class="listing-withdraw-button text-right make-table-cell">
                    <h6><a href="#" ng-show="ActiveListingVM.showWithdrawListing === false && ActiveListingVM.info.status !== 'PENDING_COMPLETION'" ng-click="ActiveListingVM.showWithdrawListing = !ActiveListingVM.showWithdrawListing">Withdraw</a></h6>
                </div>
            </div>

        </div>

        <div class="row listing-details text-center">
                <div class="row">
                    <div class="small-4 column listingItemInfo">
                        <h6>LISTING ID</h6>
                        <h4>#{{::ActiveListingVM.info.listing_id}}</h4>
                    </div>
                    <div class="small-4 column listingItemInfo">
                        <h6>RATE</h6>
                        <h4>{{::ActiveListingVM.info.current_rate | number : 2}}%</h4>
                    </div>
                    <div class="small-4 column listingItemInfo">
                        <h6>TERM</h6>
                        <h4>{{::ActiveListingVM.info.funding_term}} months</h4>
                    </div>
                </div>
        </div>
    </div>

    <div class="small-12 columns listingsSection show-for-medium">
            <div class="row vertical-centered-parent" data-equalizer>
                <div class="small-8 columns" data-equalizer-watch>
                    <div class="row listingItemRequestHeader">
                        <div class="small-12 columns">
                            <h3>Your {{::ActiveListingVM.info.loan_amount | currency:"$":0}} {{::ActiveListingVM.info.title | lowercase}} loan request</h3>
                        </div>
                    </div>
                    <div class="row listingItemInfoBar">
                        <div class="small-12 columns">
                            <div class="listingItemInfo">LISTING ID <p>#{{::ActiveListingVM.info.listing_id}}</p></div>
                            <div class="listingItemInfo">RATE <p>{{::ActiveListingVM.info.current_rate | number : 2}}%</p></div>
                            <div class="listingItemInfo lastListingItem">TERM <p>{{::ActiveListingVM.info.funding_term}} months</p></div>
                        </div>
                    </div>
                </div>
                <div class="small-4 columns listingItemStatusBar vertical-centered" ng-show="ActiveListingVM.info.status === 'WITHDRAWN' || ActiveListingVM.info.status === 'CANCELLED' || ActiveListingVM.info.status === 'EXPIRED'" data-equalizer-watch>
                    <p class="listingsItemStatus" ng-show="ActiveListingVM.info.status === 'CANCELLED'">CANCELLED</p>
                    <p class="listingsItemStatus" ng-show="ActiveListingVM.info.status === 'WITHDRAWN'">WITHDRAWN</p>
                    <p class="listingsItemStatus" ng-show="ActiveListingVM.info.status === 'EXPIRED'">EXPIRED</p>
                </div>
                <div class="small-4 columns withdrawListingItemBar" ng-show="ActiveListingVM.info.status !== 'WITHDRAWN' && ActiveListingVM.info.status !== 'CANCELLED' && ActiveListingVM.info.status !== 'EXPIRED'">
                    <div class="withdrawListingIndicatorWrapper float-left">
                        <div class="listingItemFundedStatusBar" ng-if="ActiveListingVM.showLoader">
                            <span class="loading"  ng-style="{ 'width' : ActiveListingVM.loaderWidth }"></span>
                        </div>
                        <h6 class="listingsItemStatus">
                            <a class="gray" href="#" ng-show="ActiveListingVM.showWithdrawListing === false && ActiveListingVM.info.status !== 'PENDING_COMPLETION' " ng-click="ActiveListingVM.showWithdrawListing = !ActiveListingVM.showWithdrawListing">Withdraw your request</a></h6>
                    </div>
                    <div class="fundingStatusText float-right" ng-if="ActiveListingVM.showLoader">
                        <div class="wrapper"><p class="fundingStatusPercent">{{ActiveListingVM.info.amount_funded_percent}}%</p>funded</div>
                    </div>
                </div>
            </div>
    </div>

    <div class="small-12 columns withdrawDetailSection" ng-show="ActiveListingVM.showWithdrawListing === true">
        <div class="row">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <h3>Withdraw loan request</h3>
                    </div>
                </div>
                <div class="row withdrawDetailInfoTextRow">
                    <div class="small-12 columns">
                        <div class="withdrawDetailInfoText">If you withdraw your loan request, funds will be returned
                            to the investors. You'll need to reapply if you change your mind.
                        </div>
                    </div>
                </div>
                <div class="row withdraw-listing-details">
                    <div class="small-6 columns">
                        <p>Currently funded</p>
                    </div>
                    <div class="small-3 columns end">
                        <p>{{::ActiveListingVM.info.amount_funded | currency:"$":2}}</p>
                    </div>
                </div>
                <div class="row show-for-small-only">
                    <div class="small-12 small-centered columns withdrawActionBar">
                        <button class="secondary gray button-centered" ng-click="ActiveListingVM.showWithdrawListing = false">Keep it going</button>
                    </div>
                    <div class="small-12 small-centered columns withdrawActionBar">
                        <button class="primary full-width quarter-padding button-centered" ng-click="ActiveListingVM.withdrawListing()">Withdraw loan request</button>
                    </div>
                </div>
                <div class="row show-for-medium">
                    <div class="small-12 columns end withdrawActionBar">
                        <button class="primary quarter-padding float-right" ng-click="ActiveListingVM.withdrawListing()">Withdraw loan request</button>
                        <button class="secondary gray float-right" ng-click="ActiveListingVM.showWithdrawListing = false;">Keep it going</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="welcomeModalContent.html">
    <div class="row welcome-top">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 welcome-close" align="right" ng-click="welcomeVM.cancel()"></div>
          <div class="small-12 columns welcome-bar">
            <div class="welcome-title">
              <p class="welcome-heading">Congratulations</p>
              <p class="welcome-subtext">We’ve received your loan application.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-contents">
      <div class="next-steps">
        <div class="next-steps-title">
          What happens next?
        </div>
        <ul>
          <li><span>We're reviewing your application.</span></li>
          <li><span>We'll email you about your application within the next hour.</span></li>
          <li ng-if="debitCardAdded"><span>After approval, funds will be deposited to your linked debit account within hours, instead of days.</span></li>
        </ul>
      </div>
      <div class="welcome-sub-content">
        <p>In the meantime, verify your email and check out your account page.</p>
      </div>
      <div class="button-box show-for-small-only">
        <button class="primary quarter-padding middle" ng-click="welcomeVM.cancel()">Okay</button>
      </div>
    </div>
</script>
